@media (max-width: 768px) {


    /* 토글메뉴 */
    .side-nav h2 {
        font-size: 9px;
        padding: 20px;
        letter-spacing: -3px;
        word-spacing: 4px;
    }

    .side-nav>.side-toggle {
        right: -54px;
    }

    /* 네비게이션 */
    nav {
        position: relative;
        height: 8px;
        width: 100%;
        z-index: 999;
    }

    .container {
        position: fixed;
        height: 50px;
        width: 768px;
        background-color: black;
        transition: .3s;
    }

    nav .nav {
        width: 768px;
        margin-left: 20px;
    }

    nav .nav li {
        font-size: 10px;
        float: left;
    }

    nav .sns_icon li {
        opacity: 0;
    }

    nav .nav_line {
        border: 1px solid #505050;
        width: 0;
        height: 25px;
        margin: 12px 10px;
    }


    /* 업 버튼 */
    .arrow-up span {
        font-size: 12px;
    }

    /* 타이틀 */
    .title {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .tit_back .tit_content {
        background-color: #fed700;
    }

    .tit_back_left {
        opacity: 0;
    }

    .tit_back_right {
        opacity: 0;
    }

    .title .tit_intro {
        width: 300px;
        padding-top: 80px;
        margin: 0 auto;
    }

    .title .tit_img_1 {
    opacity: 0;
      }
      
      .title .tit_img_2 {
        opacity: 0;
      }
      
      .title .tit_img_3 {
        opacity: 0;
      }
      
      .title .tit_img_4 {
        opacity: 0;
      }
    .title .intro {
        width: 30vmax;
        margin-top: 10px;
    }

    .title .tit_icon {
        background-size: 80%;
    }

    .title .tit_intro h3 {
        font-size: 12px;
        font-family: "SCDream5";
        margin-top: 5px;
    }

    .title .tit_intro h2 {
        font-size: 15px;
        font-family: "SCDream7";
        font-weight: bold;
        color: #fed700;
        padding: 5px;
        height: 20px;
        background-color: black;
        text-align: center;
        margin-top: 10px;
        transform: translateX(-5px);
    }

    .tit_back .tit_content_img {
        opacity: 0;
    }

    .title .tit_but {
        top: 80%;
        left: 50%;
    }

    .title .tit_but ul {
        width: 768px;
        height: 100%;
    }

    .title .tit_but ul li {
        width: 100%;
        padding-bottom: 10px;
    }


    .title .tit_but ul .tit_but_l {
        float: none;
    }

    .title .tit_but ul .tit_but_r button {
        float: none;
    }

    .title .tit_but ul li button {
        font-size: 2vmax;
        font-family: "SCDream7";
        text-align: center;
        width: 30%;
        padding: 5px;
        background-color: black;
        color: white;
        border: 1px solid white;
    }

    /* 지진 대피장소 */
    .shelter {
        height: 800px;
        background-image: none;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top left;
    }

    .shelter .shelter_tit {
        padding-top: 30px;
    }

    .shelter .shelter_img {
        opacity: 0;
    }

    .shelter .shelter_icon {
        margin: 0 auto;
        width: 46px;
        height: 40px;
        background-image: url(./img/tit_icon.png);
        background-repeat: no-repeat;
        background-size: 80%;
        filter: invert(74%) sepia(93%) saturate(2304%) hue-rotate(8deg) brightness(112%) contrast(111%);
    }

    .shelter h2 {
        margin-top: 5px;
        font-size: 20px;
        font-family: "SCDream9";
        color: white;
    }

    .google {
        height: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .map {
        margin: 0 auto;
        width: 100%;
      }

    /* 셀렉트 박스 */
    .selectBoxList {
        width: 100%;
    }

    .selectBoxList .box {
        text-align: center;
        width: 500px;
        top: 25px;
        left: 0px;
    }

    .selectBox2 {
        width: 100px;
        height: 30px;
    }

    .selectBox2 .label {
        font-size: 10px;
    }

    .selectBox2 .optionList {
        font-size: 10px;
    }

    #searchBtn {
        font-size: 12px;
    }


    /* 테이블 */
.table {
    width: 100%;
  }

  form {
    width: 100%;
  }
  
  th{
    padding: 5px 0;
    font-size: 10px;
  }

  td{
    padding: 5px;
    font-size: 10px;
  }

  #nav {
    width: 100%;
  }
  
/* 지진 더 살펴보기 */
.sns_page {
    position: relative;
    background-color: #8d8d8d;
    text-align: center;
    height: 500px;
  }

  .sns_page .sns_page_l {
    opacity: 0;
  }
  
  .sns_page .sns_page_r {
    opacity: 0;
  }

  .sns_page img.person_1 {
   opacity: 0;
  }
  
  .sns_page img.person_2 {
    opacity: 0;
  }

    /* 메뉴바 3 */

    position: absolute;
    width: 13px;
    height: 0px;
    left: 210px;
    top: 3px;

    border: 1px solid #B0B0B0;
    transform: rotate(90deg);


    /* 지진 행동요령 */

    position: absolute;
    width: 62px;
    height: 12px;
    left: 4px;
    top: 4px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;



    /* 지진 대피장소 */

    position: absolute;
    width: 62px;
    height: 12px;
    left: 75px;
    top: 4px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;



    /* 지진 더 살펴보기 */

    position: absolute;
    width: 62px;
    height: 12px;
    left: 144px;
    top: 4px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;



    /* 지진피해 기부 안내 */

    position: absolute;
    width: 69px;
    height: 12px;
    left: 214px;
    top: 4px;

    font-family: 'S-Core Dream';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


}