@media (max-width: 768px) {

    /* 토글메뉴 */
    .side-nav h2 {
        font-size: 10px;
        padding: 20px;
        letter-spacing: -1px;
        word-spacing: 7px;
    }

    .side-nav>.side-toggle {
        right: -54px;
    }

    .show-nav.side-nav {
      width: 180px;
    }

    .live {
      width: 180px;
    }
    
    .live img {
      width: 180px;
    }

    .live h3 {
      padding: 5px 10px;
      font-size: 15px;
    }
    
    .live h4 {
      padding: 5px 10px;
      font-size: 12px;
    }
    
    .live p {
      padding: 0 10px;
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 12px;
    }

    /* 네비게이션 */
    nav {
        position: relative;
        z-index: 999;
    }

    .container {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        background-color: black;
        transition: .3s;
    }

    nav .nav {
        text-align: center;
        width: 100%;
    }

    nav .nav li {
      font-size: 1vmax;
      float: none;
      display: inline-block;
    }

    nav .sns_icon li {
        display: none;
    }

    nav .nav_line {
        border: 1px solid #505050;
        width: 0;
        height: 15px;
        margin: 0 auto;
        transform: translateY(5px);
    }


    /* 업 버튼 */
    .arrow-up span {
        font-size: 20px;
    }

    .arrow-up {
      bottom: 30px;
      right: 30px;
    }

    /* 타이틀 */
    .title {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .tit_back .tit_content {
      z-index: 1;
      height: 300px;
    }

    .tit_back .tit_back_left {
      display: none;
    }
    
    .tit_back .tit_back_right {
      width: 250px;
      bottom: -83px;
      right: 0;
    }
    .title .tit_intro {
        width: 300px;
        padding-top: 50px;
        margin: 0 auto;
    }

    .title .tit_img_1 {
      display: none;
      }
      
      .title .tit_img_2 {
        width: 150px;
        right: 0px;
        left: 30px;
      }
      
      .title .tit_img_3 {
        width: 50px;
        left: 5vmax;
      }
      
      .title .tit_img_4 {
        width: 50px;
        right: 5vmax;
      }
    .title .intro {
        width: 30vmax;
        margin-top: 10px;
    }

    .title .tit_icon {
        background-size: 80%;
    }

    .title .tit_intro h3 {
        font-size: 12px;
        font-family: "SCDream5";
        margin-top: 5px;
    }

    .title .tit_intro h2 {
        font-size: 15px;
        padding: 5px;
        height: 22px;
        text-align: center;
        margin-top: 10px;
    }

    .tit_back .tit_content_img {
      display: none;
    }

    .title .tit_but {
        position: absolute;
        z-index: 99;
        top: 430px;
        left: 50%;
    }

    .title .tit_but ul {
        width: 600px;
        height: 33.33%;
    }

    .title .tit_but ul li {
        width: 100%;
        padding-bottom: 3%;
    }

    .title .tit_but ul .tit_but_l {
        float: none;
    }

    .title .tit_but ul .tit_but_r button {
        float: none;
    }

    .title .tit_but ul li button {
        font-size: 1.5vmax;
        width: 30%;
        padding: 10px;
        border: 1px solid white;
    }

    /* 지진 대피장소 */
    .shelter {
        height: 100%;
        background-image: none;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top left;
    }

    .shelter .shelter_tit {
        padding-top: 50px;
    }

    .shelter .shelter_img {
      display: none;
    }

    .shelter .shelter_icon {
        margin: 0 auto;
        width: 36px;
        height: 30px;
        background-image: url(./img/tit_icon.png);
        background-repeat: no-repeat;
        background-size: 80%;
        filter: invert(74%) sepia(93%) saturate(2304%) hue-rotate(8deg) brightness(112%) contrast(111%);
    }

    .shelter h2 {
        margin-top: 5px;
        font-size: 15px;
        font-family: "SCDream9";
        font-weight: normal;
        color: white;
    }

    .google {
        height: 300px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .map {
        margin: 0 auto;
        width: 100%;
      }

    /* 셀렉트 박스 */
    .selectBoxList {
        width: 100%;
    }

    .selectBoxList .box {
        width: 25%;
        top: 25px;
        left: 0px;
    }

    .selectBox2 {
        width: 100%;
    }

    .selectBox2 .label {
      padding-left: 5%;
      font-size: 10px;
    }

    .selectBox2:before {
      content: '\25BC';
      position: absolute;
      top: 14px;
      right: 5px;
      font-size: 10px;
      z-index: -1;
    }
    
    .selectBox2 .optionList {
        font-size: 10px;
    }

    #searchBtn {
        width: 100%;
        font-size: 12px;
    }


    /* 테이블 */
.table {
    width: 100%;
  }

  form {
    width: 100%;
  }
  
  th{
    padding: 5px 0;
    font-size: 10px;
  }

  td{
    padding: 5px;
    font-size: 10px;
  }

  #nav {
    width: 100%;
  }
  
/* 지진 더 살펴보기 */
.sns_page {
    background-color: #8d8d8d;
    height: 800px;
  }

  .sns_page .sns {
    flex-flow: row wrap;
  }

  .sns_page .sns_page_l {
    display: none;
  }
  
  .sns_page .sns_page_r {
    display: none;
  }

  .sns_page img.person_1 {
    display: none;
  }
  
  .sns_page img.person_2 {
    display: none;
  }

  .sns_page h2 {
    padding-top: 50px;
    font-size: 15px;
    font-weight: normal;
  }

.sns_page .content_1,
.sns_page .content_2 {
    float: none;
    margin-top: 40px;
    width: 768px;    
}

  .youtube{
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
} 

.sns_page .content_1 {
    width: 768px;
  }

  .sns_page .content_1 li {
    float: none;
  }
  
  .sns_page .content_1 .page_link {
    margin: 0 auto;
  }

  .sns_page .content_1 .page_link h3 {
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  
  .sns_page .content_1 .page_link_but{
    width: 50%;
    float: left;
  }

  .sns_page .content_1 .page_link button {
    padding: 10px;
    z-index: 0;
  }
  
  .sns_page .content_1 .page_link button h4 {
    font-size: 12px;
    font-family: "SCDream7";
    color: white;
  }

  .sns_page .content_2 {
    width: 100%;
    text-align: center;
  }

  .sns_page .content_2 li .sns_box img {
    width: 80px;
    height: 80px;
    margin-right: 9px;
  }

  /* 지진피해 기부 안내 */

.donation {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.donation .donation_icon {
  width: 15%;
  padding-top: 50px;
}

.donation h2 {
  margin-top: 20px;
  position: absolute;
  padding: 0;
  font-size: 15px;
}

.donation .donation_but {
  padding: 0;
  padding-bottom: 30px;
}

.donation .donation_but li{
  padding: 3%;
}

.donation .donation_but div {
  width: 150px;
  height: 40px;
}

.donation .donation_but div img {
  object-fit: contain;
  width: 60%;
}


/* 흐르는 텍스트 */
.flow-container {
  border: #000 solid 3px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
}

.flow-text {
  font-size: 12px;
}

/* 푸터 */
footer {
  height: 100%;
}


footer .footer_nav {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

footer .fo{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 15px 0;
}

footer .fo_1{
  text-align: center;
}

footer .fo_1 .top{
  width: 100%;
  margin: 0;
}

footer .fo_1 .bottom{
  width: 100%;
  margin: 0 auto;
}

footer .fo_1 h2 {
  text-align: left;
  font-size: 15px;
  padding: 0 15px;
}

footer .fo_1 h3 {
  text-align: right;
  font-size: 1vmax;
  padding: 0 15px;
}

footer .fo_2{
  text-align: center;
}

footer .fo_2 .bottom{
  margin: 0 auto;
}

footer .fo_2 h5 {
  padding: 0 15px;
  font-size: 1vmax;
}

footer .fo_2 h4 {
  padding: 0 15px;
  font-size: 1vmax;
}

footer .fo_3{
  text-align: center;
}

footer .fo_3 a{
  padding: 0 10px;
}

footer .fo_3 .bottom{
  margin: 0 auto;
}

footer .fo_3 h4 {
  width: 100%;
  padding: 0;
  font-size: 10px;
}

footer .fo_4 li{
  margin-bottom: 20px;
}

footer .fo_4 .fo_icon {
  width: 18px;
  height: 18px;
  background-size: contain;
}

footer .fo_line{
  margin: 0 auto;
  width: 100%;
}

footer .fo_bo{
  margin-top: 20px;
  font-size: 8px;
  padding-bottom: 20px;
}

}